
{% extends 'layout.html' %} {% block content %}
<main id="main">
    <link href="https://fonts.googleapis.com/css?family=Archivo+Black&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Archivo:700&display=swap" rel="stylesheet">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@1,900&display=swap');

        * {
            box-sizing: border-box;
        }
        h1 {
            font-family: 'Poppins', sans-serif;
            font-size: 100px;
            margin-left: 30px;
            margin-top: -10px;
        }

        h4 {
            font-family: 'Barlow', sans-serif;
            margin-left: 30px;
            margin-top: -90px;
        }

        h5 {
            margin-left: 30px;
            font-size: 18px;
        }

        p {
            margin-left: 30px;
            margin-top: -20px
        }

        body {
          font-family: Arial, Helvetica, sans-serif;
        }

        /* Float four columns side by side */
        .column {
          float: left;
          width: 25%;
          padding: 0 10px;
        }

        /* Remove extra left and right margins, due to padding in columns */
        .row {margin: 0 -5px;}

        /* Clear floats after the columns */
        .row:after {
          content: "";
          display: table;
          clear: both;
        }

        /* Style the counter cards */
        .card {
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
          padding: 16px;
          text-align: center;
          background-color: #f1f1f1;
        }

        /* Responsive columns - one column layout (vertical) on small screens */
        @media screen and (max-width: 600px) {
          .column {
            width: 100%;
            display: block;
            margin-bottom: 20px;
          }
        }
        #genre_list {

        }

        #watchlist_button_add {
            float: right;
            margin-top: -160px;
            margin-right: 30px;
        }

        #watchlist_button_remove {
            float: right;
            margin-top: -160px;
            margin-right: 30px;
        }

        #review_button{
             display: flex;
             justify-content: center;
             margin-bottom: -20px;
        }

        #noo {
          font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
       }
       * {
          box-sizing: border-box;
       }
       .rrcard {
          color: white;
          float: left;
          width: calc(25% - 20px);
          padding: 10px;
          border-radius: 10px;
          margin: 10px;
          height: 200px;
          margin-bottom: 30px;
       }
       .rrcard p {
          font-size: 18px;
       }
       .rrcardContainer:after {
          content: "";
          display: table;
          clear: both;
       }
       @media screen and (max-width: 600px) {
          .rrcard {
             width: 100%;
          }
       }

       #username_review {
           margin-left: 300px;
       }

       #text_review {
           margin-top: -10px;
           margin-bottom: 22px;
       }

       #review_date {
           font-size: 15px;
           margin-left: 250px;
           margin-top: -42px;
           margin-bottom: 20px;
       }
    </style>
    <body>
        {% if movie != None %}

            <h1>{% print(movie.title) %}</h1>
            {% if 'username' in session and temp_watchlist != None%}
                {% if movie not in user_watchlist %}
                    <a id="watchlist_button_add" href="/add_to_watchlist/?title={{movie.title}}&date={{movie.release_date}}">
                        <img alt="Add To Watchlist" src="/static/images/add_to_watchlist.png" width=240" height="50">
                    </a>
                {% else %}
                    <a id="watchlist_button_remove" href="/removed_from_watchlist/?title={{movie.title}}&date={{movie.release_date}}">
                        <img alt="Remove From Watchlist" src="/static/images/remove_from_watchlist.png" width=240" height="50">
                    </a>
                {%endif%}
            {%endif%}
            <h4>({% print(movie.release_date) %})</h4>
            <hr>
            <h5>Description:</h5>
            <p>{% print(movie.description) %}</p>
        <div id="genre_section">
            <h5>Genres:</h5>
            {% for element in movie.genres %}
                <a href="/genre_movie?genre={{element.genre_name}}">
                <p id="genre_list">{%print(element._name)%}</p>
                </a>
                <br/>
            {%endfor%}
            <hr>
            <br/>

        {%endif%}
        </div>
        <a id="review_button" href="/review?movie_title={{movie.title}}&movie_date={{movie.release_date}}">
                        <img alt="Remove From Watchlist" src="/static/images/add_review.png" width=240" height="50">
                    </a>
        <br/><br/><br/>

        {% for review in movie_reviews %}
        <div id="noo">
            <div class="rrcard" style="background-color:rgb(60, 63, 82);">
                <h2>{{review.rating}}/10</h2><p id="review_date">on ({{review._timestamp.strftime('%d/%m/%Y')}})</p>
                <p id="text_review">{{review.review_text}}</p>
                <p id="username_review">- {{review._review_user._username}}</p>
            </div>
        </div>
        {%endfor%}
    </body>
</main>
{% endblock %}
